<%- include('../includes/head.ejs') %>
    <%- include('../includes/navigation.ejs') %>

        <main class="centered">
            <h1>Demo MVC</h1>
            <p>Welcome to the basic E-commerce application implemented with Node.js, Express, and Class-based Dependency
                Injection.</p>
        </main>
        <%- include('../includes/end.ejs') %>